In [2]:
import pandas as pd
import glob

In [8]:
def find_files(path, pattern, i):
    files = glob.glob(f'{path}/{pattern}')
    # print(files)
    # print(len(files))

    return files

In [9]:
for i in range(12, 23):
    files = find_files('D:\\_repositories\\Aggregation\\Results\\SINASC - Dtype Corrigido\\parquet', f'*20{i}.parquet')

    df = pd.read_parquet(files[0])
    print(f'Ano: 20{i} - Quantidade de registros: {len(df)}')

Ano: 2012 - Quantidade de registros: 3197707
Ano: 2013 - Quantidade de registros: 3197575
Ano: 2014 - Quantidade de registros: 3282309
Ano: 2015 - Quantidade de registros: 3311296
Ano: 2016 - Quantidade de registros: 3149750
Ano: 2017 - Quantidade de registros: 3216411
Ano: 2018 - Quantidade de registros: 3232183
Ano: 2019 - Quantidade de registros: 3139558
Ano: 2020 - Quantidade de registros: 3013130
Ano: 2021 - Quantidade de registros: 2951464
Ano: 2022 - Quantidade de registros: 2856466

In [13]:
df = pd.read_csv('D:\\_repositories\\Aggregation\\Results\\SIH - Concatenado\\RD2022.csv', usecols=['UF_ZI'])
print(len(df))

7738647

In [14]:
df = pd.read_csv('D:\\_repositories\\Aggregation\\SIM-2DtypeCorrigido\\csv\\SIM2022.csv')
print(len(df))

58791

---

In [16]:
df = pd.read_parquet('D:\\_repositories\\Aggregation\\SINASC - Dtype Corrigido\\parquet\\DN2022.parquet')

In [17]:
df.columns

Index(['Unnamed: 0', 'ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE',
       'ESTCIVMAE', 'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT',
       'CODMUNRES', 'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC',
       'HORANASC', 'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL',
       'DTCADASTRO', 'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM',
       'DIFDATA', 'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU',
       'ESCMAE2010', 'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT',
       'QTDPARTNOR', 'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC',
       'TPMETESTIM', 'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART',
       'STCESPARTO', 'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC',
       'ESCMAEAGR1', 'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON',
       'PARIDADE', 'KOTELCHUCK', 'CONTADOR'],
      dtype='object')

In [18]:
# SIM['index'] = range(1, len(SIM) + 1)
# SIM.set_index('index', inplace = True)

df['index'] = range(2220000001, 2220000001 + len(df))
df.set_index('index', inplace=True)

In [22]:
df.index

Index([2220000001, 2220000002, 2220000003, 2220000004, 2220000005, 2220000006,
       2220000007, 2220000008, 2220000009, 2220000010,
       ...
       2222856457, 2222856458, 2222856459, 2222856460, 2222856461, 2222856462,
       2222856463, 2222856464, 2222856465, 2222856466],
      dtype='int64', name='index', length=2856466)

In [25]:
if 'Unnamed: 0' in df.columns:
    df.drop('Unnamed: 0', axis=1, inplace=True)
    print('Unnamed removido')
else:
    print('NÃ£o removido')

Unnamed removido

In [26]:
df.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR'],
      dtype='object')

In [27]:
df.to_parquet('D:\\_repositories\\Aggregation\\SINASC - Index adicionado\\DN2022.parquet')

In [28]:
df = pd.read_parquet('D:\\_repositories\\Aggregation\\SINASC - Index adicionado\\DN2022.parquet')

In [31]:
df.head(20)

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK,CONTADOR
index,,,,,,,,,,,,,,,,,,,,,
2220000001,1,5701929,120001,1,38,1,3,999992,4,1,...,3,5012022,2,0,1,1,10,1,2,12638
2220000002,1,5701929,120001,1,31,9,3,622020,3,0,...,3,25022022,2,0,1,1,3,1,5,12639
2220000003,1,5701929,120001,1,22,1,3,999992,3,0,...,3,10042022,3,0,1,1,3,1,9,12640
2220000004,1,5701929,120001,1,25,2,5,999992,1,0,...,3,24042022,8,0,1,1,3,1,2,12641
2220000005,1,5701929,120001,2,17,5,4,999992,1,0,...,3,29062022,4,0,1,1,3,1,4,12642
2220000006,1,5701929,120001,1,24,1,4,999992,1,0,...,3,20062022,4,0,1,1,3,1,5,12643
2220000007,1,2001020,120005,2,29,5,3,999992,3,0,...,3,1012022,2,0,1,1,3,1,2,12644
2220000008,1,2001020,120005,2,39,5,3,999992,7,1,...,3,4012022,2,0,1,1,10,1,2,12645
2220000009,1,2001020,120005,2,25,5,4,622105,2,0,...,3,7012022,4,0,1,1,3,1,5,12646
2220000010,1,2001020,120005,2,19,5,4,999992,1,1,...,3,20022022,4,0,1,1,3,1,3,12647
2220000011,1,2001020,120005,2,27,2,4,<NA>,3,0,...,3,31012022,5,0,1,1,3,1,2,12648
2220000012,1,2001020,120005,2,37,2,2,<NA>,2,1,...,3,29012022,1,0,1,1,3,1,5,12649
2220000013,1,<NA>,120005,3,36,5,1,622105,6,2,...,4,5012022,0,0,1,1,5,1,2,12650
2220000014,1,2001020,120005,2,19,5,3,999992,2,1,...,3,26012022,3,0,1,1,4,1,2,12651
2220000015,1,2001020,120005,2,25,2,4,999992,1,1,...,3,22022022,12,0,1,1,5,1,4,12652
2220000016,1,<NA>,120005,3,14,5,3,999991,1,0,...,3,22022022,2,0,1,1,10,1,3,12653
2220000017,1,2001020,120005,2,40,2,2,999992,6,1,...,3,26032022,10,0,1,1,3,1,3,12654
2220000018,1,2001020,120005,2,26,1,3,999992,4,1,...,3,15032022,3,0,1,1,4,1,4,12655
2220000019,1,2001020,120005,2,21,<NA>,1,999992,3,0,...,3,24042022,0,0,1,1,3,1,2,12656
2220000020,1,2001020,120005,2,17,5,3,622105,1,0,...,3,22042022,2,0,1,1,3,1,2,12657

---

In [32]:
df = pd.read_parquet('D:\\_repositories\\Aggregation\\SIM-2DtypeCorrigido\\parquet\\SIM2022.parquet')

In [33]:
len(df)

58791

In [40]:
df.columns

Index(['ORIGEM', 'CODMUNCART', 'NUMREGCART', 'CODCART', 'DTREGCART',
       'TIPOBITO', 'DTOBITO', 'HORAOBITO', 'NATURAL', 'CODMUNNATU', 'DTNASC',
       'IDADE', 'SEXO', 'RACACOR', 'ESTCIV', 'ESC', 'ESC2010', 'SERIESCFAL',
       'OCUP', 'CODMUNRES', 'LOCOCOR', 'CODESTAB', 'ESTABDESCR', 'CODMUNOCOR',
       'IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'SERIESCMAE', 'OCUPMAE',
       'QTDFILVIVO', 'QTDFILMORT', 'GRAVIDEZ', 'SEMAGESTAC', 'GESTACAO',
       'PARTO', 'OBITOPARTO', 'PESO', 'TPMORTEOCO', 'OBITOGRAV', 'OBITOPUERP',
       'ASSISTMED', 'EXAME', 'CIRURGIA', 'NECROPSIA', 'LINHAA', 'LINHAB',
       'LINHAC', 'LINHAD', 'LINHAII', 'CAUSABAS', 'CB_PRE', 'MEDICO',
       'COMUNSVOIM', 'DTATESTADO', 'CIRCOBITO', 'ACIDTRAB', 'FONTE',
       'NUMEROLOTE', 'TPPOS', 'DTINVESTIG', 'LINHAA_O', 'LINHAB_O', 'LINHAC_O',
       'LINHAD_O', 'LINHAII_O', 'CAUSABAS_O', 'DTCADASTRO', 'ATESTANTE',
       'STCODIFICA', 'CODIFICADO', 'VERSAOSIST', 'VERSAOSCB', 'FONTEINV',
       'DTRECEBIM', 'ATESTADO', 'DTRECORIG', 'DTRECORIGA', 'CAUSAMAT',
       'ESCMAEAGR1', 'ESCFALAGR1', 'STDOEPIDEM', 'STDONOVA', 'DIFDATA',
       'NUDIASOBCO', 'NUDIASOBIN', 'DTCADINV', 'TPOBITOCOR', 'DTCONINV',
       'FONTES', 'TPRESGINFO', 'TPNIVELINV', 'NUDIASINF', 'DTCADINF',
       'MORTEPARTO', 'DTCONCASO', 'FONTESINF', 'ALTCAUSA', 'CONTADOR'],
      dtype='object')

In [35]:
x = 12200001
df['index'] = range(x, x + len(df))
df.set_index('index', inplace=True)

In [37]:
df.index

Index([12200001, 12200002, 12200003, 12200004, 12200005, 12200006, 12200007,
       12200008, 12200009, 12200010,
       ...
       12258782, 12258783, 12258784, 12258785, 12258786, 12258787, 12258788,
       12258789, 12258790, 12258791],
      dtype='int64', name='index', length=58791)

In [39]:
if 'Unnamed: 0.1' in df.columns:
    df.drop('Unnamed: 0.1', axis=1, inplace=True)
    print('Unnamed removido')
else:
    print('NÃ£o removido')

Unnamed removido

In [41]:
df.to_parquet('D:\\_repositories\\Aggregation\\SIM-Index\\SIM2022.parquet')